
<!DOCTYPE html>
<html>
  <head>
        <style>
        .content-grid {
  		margin-left: auto;
  		margin-right: auto;
  	        width: 1000px;
  	}
  	.main-text-pane {
                display: flex;
                min-height: 128px;
                overflow: hidden;
  		flex-flow: column;
                width: 100%;
  	}
  	#dark {
  		background-color: rgb(243,243,243);
  	}
  	#light {
  		background-color: #f6f6f6;
  	}
  	#color {
  		background-color: #46B6AC;
  	}
  	.mdl-typography--text-left h1{
  		padding-left: 20px;
  	}
        </style>

        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <!-- <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
        <script src="/node_modules/material-design-lite/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'> -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  </head>
  <body>


  <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDNhuCXtsK_UfphF7ZJHL8f82NZ_JJcPKs",
      authDomain: "puzzlehunt-b6bea.firebaseapp.com",
      databaseURL: "https://puzzlehunt-b6bea.firebaseio.com",
      projectId: "puzzlehunt-b6bea",
      storageBucket: "puzzlehunt-b6bea.appspot.com",
      messagingSenderId: "607507350359"
    };
    firebase.initializeApp(config);
  </script>
  <script src="/js/updateLogic.js"></script>

  <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">The Puzzles</span>
              <!-- Add spacer, to align navigation to the right -->
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation. We hide it in small screens. -->
              <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="/admin.ejs">Admin</a>
              </nav>
            </div>
          </header>
        </div>
        <main class="mdl-layout__content" style="display:-webkit-box;">
                <div class="content-grid">
                        <div class="content-grid" style="padding-top: 63px;">
                        <div class="content-grid mdl-grid">
        			<div class="mdl-cell mdl-cell--8-col">
                                        <div id="Question 1">
                                                <h1>Choose Your Own Adventure!</h1>
                                                <div class="main-text-pane" id="light">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="submittedQuestion" value="1" type="hidden">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 2">
                                                <h1>Mendeleev's Number Game</h1>
                                                <div class="main-text-pane" id="dark">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 3">
                                                <h1>All Right you Alien A**holes</h1>
                                                <div class="main-text-pane" id="light">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 4">
                                                <h1>The Final Project</h1>
                                                <div class="main-text-pane" id="dark">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 5">
                                                <h1>Do the Right Thing</h1>
                                                <div class="main-text-pane" id="light">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 6">
                                                <h1>The Final Destination</h1>
                                                <div class="main-text-pane" id="light">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
                                        <div id="Question 7">
                                                <h1>Will you Join me on the Rift?</h1>
                                                <div class="main-text-pane" id="light">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="teamName" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="teamName">Team Name...</label>
                                                        </div>

                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                          <input id="answerTry" class="mdl-textfield__input" type="text">
                                                          <label class="mdl-textfield__label" for="user1">Answer...</label>
                                                        </div>
                                                        <button id="btnCreateTeam" onclick="verifyAnswer()" class="btn btn-action mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                                            Submit
                                                        </button>
                                                </div>
                                        </div>
        			</div>
                        </div>
                </div>
        </main>
 </body>
</html>
